/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*Null style*/
/*Clean styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Styles*/
.body {
  font-size: 20px;
  font-family: "Source Serif Pro", serif;
  background-color: #e5d7c2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-link:hover {
  text-decoration: underline;
}

.header__cylynder-body {
  padding: 0 6px;
}
.header__cylynder {
  background-color: #252525;
  width: 85%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: inset 65px 0 25px -25px rgb(116, 116, 116), inset -65px 0 25px -25px rgb(116, 116, 116);
}
.header__logo {
  margin: 0 auto;
  font-size: 100px;
  font-weight: 700;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  color: #bb9a3e;
  border: 12px solid #bb9a3e;
  border-radius: 60%;
  padding: 12px 22px 5px 22px;
}

.nav__body {
  background-color: #252525;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  color: #bb9a3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 15px 18px 15px;
}
.nav__item {
  display: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.nav__items {
  display: flex;
}
.nav__logo {
  font-size: 40px;
}

.content {
  flex: 1 0 auto;
  color: #79642c;
  text-shadow: 0 1px #252525;
}
.content__body {
  line-height: 35px;
}

.about-me__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.about-me__tittle {
  font-size: 48px;
  margin: 50px 0 50px;
}
.about-me__text {
  margin-bottom: 50px;
  width: 70%;
  text-align: justify;
}
.about-me__link {
  cursor: pointer;
  margin-bottom: 90px;
}

.suit__body {
  background: url("../IMG/suitPhone.svg") 0 0/cover no-repeat;
  background-position: center;
  width: 100%;
  height: 533px;
  display: flex;
}
.suit__block {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 105px;
}
.suit__bage {
  background-color: #424242;
  font-size: 30px;
  cursor: pointer;
  width: 200px;
  padding: 15px;
  color: #252525;
  margin-left: 25%;
  text-align: center;
  transition: all 500ms;
}
.suit__bage:hover {
  color: #fff;
  font-size: 35px;
  width: 230px;
  padding: 20px;
}

.box__backgr {
  width: 100%;
  height: 500px;
  padding: 10%;
}
.box__body {
  line-height: 1px;
  transition: all 500ms;
}
.box__cover {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  height: 200px;
  box-shadow: 0 65px #3d2c18;
  text-shadow: 0 6px 2px #332d26;
  border-radius: 25%;
  background-color: #614525;
  text-align: center;
  color: #bb9a3e;
  font-weight: 700;
  font-size: 25px;
  padding-top: 100px;
  z-index: 2;
  transition: all 700ms;
}
.box__text {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: #bb9a3e;
}
.box__box {
  position: relative;
  margin: 0 auto;
  height: 200px;
  border-radius: 25%;
  background-color: #614525;
  box-shadow: 0 65px #3d2c18;
  border: 15px solid #3d2c18;
  z-index: 0;
  transform: translate(0, -160px);
  transition: all 700ms;
}

.open-cover {
  transform: translate(0, -25px) rotateX(45deg);
  perspective: 700px;
  line-height: 15px;
  transition: all 700ms;
}

.open-box-text {
  transform: translate(0, -200px);
  line-height: 35px;
  transition: all 700ms;
}

.bage__body {
  background-color: rgba(68, 68, 68, 0.9450980392);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-height: 100%;
  height: 100%;
  width: 100%;
  z-index: 6;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}
.bage__bage {
  background-image: linear-gradient(135deg, #79642c 4%, #bb9a3e 26%, #79642c 51%, #bb9a3e 74%, #79642c 100%);
  padding: 15px 15px;
  line-height: 35px;
  color: #7e5c01;
}

.open {
  visibility: visible;
  opacity: 1;
  transition: all 500ms;
}

.footer__body {
  background-color: #614525;
  height: 120px;
  border-top: 10px solid #3d2c18;
}

@media (min-width: 599px) {
  .nav__item {
    display: block;
  }

  .suit__body {
    background: url("../IMG/suitPhone.svg") 0 0/cover no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    padding-right: 15px;
    display: flex;
  }
  .suit__bage {
    padding: 25px;
    font-size: 35px;
  }
  .suit__bage:hover {
    padding: 30px;
    font-size: 40px;
  }

  .bage__bage {
    padding: 25px 65px;
    line-height: 45px;
    font-size: 25px;
  }

  .box__cover {
    height: 250px;
  }
  .box__box {
    height: 250px;
    transform: translate(0, -180px);
  }
}
@media (min-width: 767px) {
  .header__cylynder {
    height: 500px;
  }
  .header__logo {
    font-size: 130px;
    border: 15px solid #bb9a3e;
  }

  .about-me__text {
    width: 60%;
  }

  .suit__body {
    height: 900px;
    padding: 0 30px 50px 0;
  }
  .suit__bage {
    font-size: 45px;
    padding: 35px 25px;
    width: 260px;
  }
  .suit__bage:hover {
    font-size: 45px;
    padding: 40px 25px;
    width: 280px;
  }

  .box__backgr {
    padding: 3% 20%;
  }
  .box__cover {
    height: 280px;
  }
  .box__text {
    font-size: 30px;
  }
  .box__box {
    height: 280px;
    transform: translate(0, -220px);
  }

  .open-box-text {
    transform: translate(0, -300px);
  }
}