/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*Null style*/
/*Clean styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Styles*/
.body {
  font-size: 30px;
  font-family: "Source Serif Pro", serif;
  background-color: #e5d7c2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-link:hover {
  text-decoration: underline;
}

.header__cylynder {
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
  height: 900px;
  margin: 0 auto;
  box-shadow: inset 65px 0 25px -25px rgb(116, 116, 116), inset -65px 0 25px -25px rgb(116, 116, 116);
}
.header__logo {
  font-size: 200px;
  font-weight: 700;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  color: #bb9a3e;
  border: 15px solid #bb9a3e;
  border-radius: 60%;
  padding: 20px 35px 5px 35px;
}

.nav__body {
  background-color: #252525;
  font-size: 38px;
  font-family: "Dancing Script", cursive;
  color: #bb9a3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 45px 25px 45px;
}
.nav__item {
  margin: 0 25px 0 25px;
  cursor: pointer;
}
.nav__items {
  display: flex;
}
.nav__logo {
  font-size: 45px;
}

.content {
  flex: 1 0 auto;
  color: #79642c;
  text-shadow: 0 1px #252525;
}
.content__body {
  line-height: 50px;
}

.about-me__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.about-me__tittle {
  font-size: 48px;
  margin: 50px 0 50px;
}
.about-me__text {
  margin-bottom: 50px;
  width: 30%;
  text-align: justify;
}
.about-me__link {
  cursor: pointer;
  margin-bottom: 90px;
}

.suit__body {
  background: url("../IMG/suit.svg") 0 0/cover no-repeat;
  background-position: center;
  width: 100%;
  height: 1400px;
  display: flex;
  flex-wrap: wrap;
}
.suit__block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suit__bage {
  background-image: linear-gradient(135deg, #79642c 4%, #bb9a3e 26%, #79642c 51%, #bb9a3e 74%, #79642c 100%);
  font-size: 45px;
  cursor: pointer;
  width: 300px;
  padding: 45px;
  color: #bb9a3e;
  margin-left: 25%;
  text-align: center;
  text-shadow: 1px 0 2px #79642c;
  transition: all 500ms;
}
.suit__bage:hover {
  background-color: #bb9a3e;
  font-size: 47px;
  width: 320px;
  padding: 48px;
}

.skills-tech__body {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 65px solid #3d2c18;
  padding-top: 65px;
}

.box__body {
  transition: all 700ms;
  line-height: 1px;
}
.box__cover {
  cursor: pointer;
  position: relative;
  height: 320px;
  width: 500px;
  box-shadow: 0 65px #3d2c18;
  text-shadow: 0 6px 2px #332d26;
  border-radius: 25%;
  background-color: #614525;
  padding: 120px 0 0 0;
  text-align: center;
  color: #bb9a3e;
  font-weight: 700;
  z-index: 2;
  transition: all 700ms;
}
.box__text {
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 1;
  color: #bb9a3e;
}
.box__box {
  position: relative;
  height: 320px;
  width: 500px;
  border-radius: 25%;
  background-color: #614525;
  box-shadow: 0 65px #3d2c18;
  border: 15px solid #3d2c18;
  z-index: 0;
  top: -250px;
  transition: all 700ms;
}

.open-cover {
  transform: translate(0, -25px) rotateX(45deg);
  perspective: 700px;
  line-height: 15px;
  transition: all 700ms;
}

.open-box-text {
  transform: translate(0, -200px);
  line-height: 35px;
  transition: all 700ms;
}

.bage__body {
  background-color: rgba(68, 68, 68, 0.9450980392);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-height: 100%;
  height: 100%;
  width: 100%;
  z-index: 6;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}
.bage__bage {
  background-image: linear-gradient(270deg, #79642c 0%, #bb9a3e 22%, #bb9a3e 78%, #79642c 100%);
  padding: 25px 95px;
  line-height: 55px;
  color: #79642c;
}

.open {
  visibility: visible;
  opacity: 1;
  transition: all 500ms;
}

.footer__body {
  background-color: #614525;
  height: 120px;
  border-top: 10px solid #3d2c18;
}

@media screen and (max-width: 640px) {
  .body {
    font-size: 20px;
  }

  .header__cylynder {
    width: 80%;
    height: 400px;
  }
  .header__logo {
    font-size: 120px;
    font-weight: 600;
    border: 12px solid #bb9a3e;
    padding: 15px;
  }

  .nav__body {
    font-size: 30px;
    padding: 20px 30px 20px 30px;
  }
  .nav__logo {
    font-size: 40px;
  }
  .nav__items {
    display: none;
  }

  .content__body {
    line-height: 40px;
  }

  .about-me__body {
    padding: 20px;
  }
  .about-me__tittle {
    font-size: 42px;
    margin: 80px 0 50px;
  }
  .about-me__text {
    width: 60%;
  }

  .suit__body {
    background: url("../IMG/suitPhone.svg") 0 0/cover no-repeat;
    background-position: center;
    height: 800px;
  }
  .suit__block {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 25px 120px 0;
  }
  .suit__bage {
    background-image: none;
    background-color: #353535;
    color: #646363;
    font-size: 35px;
    width: 250px;
    padding: 25px;
  }
  .suit__bage:hover {
    background-color: #353535;
    color: #858484;
    font-size: 40px;
    width: 350px;
    padding: 30px;
  }

  .box__cover {
    height: 280px;
    width: 400px;
  }
  .box__box {
    height: 280px;
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .body {
    font-size: 20px;
  }

  .header__cylynder {
    width: 80%;
    height: 300px;
  }
  .header__logo {
    font-size: 120px;
    font-weight: 600;
    border: 12px solid #bb9a3e;
    padding: 15px;
  }

  .nav__body {
    font-size: 28px;
    padding: 10px 30px 10px 30px;
  }
  .nav__logo {
    font-size: 35px;
  }
  .nav__items {
    display: none;
  }

  .content__body {
    line-height: 37px;
  }

  .about-me__body {
    padding: 20px;
  }
  .about-me__tittle {
    font-size: 42px;
    margin: 80px 0 50px;
  }
  .about-me__text {
    width: 85%;
  }

  .suit__body {
    background: url("../IMG/suitPhone.svg") 0 0/cover no-repeat;
    background-position: center;
    height: 700px;
  }
  .suit__block {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 25px 100px 0;
  }
  .suit__bage {
    background-image: none;
    background-color: #353535;
    color: #646363;
    font-size: 35px;
    width: 250px;
    padding: 25px;
  }
  .suit__bage:hover {
    background-color: #353535;
    color: #858484;
    font-size: 40px;
    width: 350px;
    padding: 30px;
  }

  .bage__body {
    padding: 35px;
  }
  .bage__bage {
    background-image: linear-gradient(270deg, #79642c 0%, #bb9a3e 22%, #bb9a3e 78%, #79642c 100%);
    padding: 25px 55px;
    line-height: 40px;
    color: #79642c;
  }

  .box__cover {
    height: 250px;
    width: 300px;
  }
  .box__box {
    height: 250px;
    width: 300px;
    top: -220px;
  }
}