/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
//font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//font-family: 'Source Serif Pro', serif;
/*Null style*/
@import "nullstyle";
/*Styles*/
//___________Variables___________
$fn-sz: 30px;
$fn-sz-medium: 25px;
$fn-sz-small: 20px;
$fn-color: #79642c;
$mainColor: #252525;
$secondColor: #fff;
$bgColor: #e5d7c2;
$headercolor: #bb9a3e;
//___________Classes___________
.body{
   font-size: $fn-sz;
   font-family: 'Source Serif Pro', serif;
   background-color: $bgColor;
}
.wrapper{
   display: flex;
   flex-direction: column;
   height: 100%;
}

.text-link:hover{
   text-decoration: underline;
}
.header{
   //&__body{}
   &__cylynder{
      background-color: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66%;
      height: 900px;
      margin: 0 auto;
      box-shadow: inset 65px 0 25px -25px rgb(116, 116, 116) , inset -65px 0 25px -25px rgb(116, 116, 116);
   }
   &__logo{
      font-size: 200px;
      font-weight: 700;
      font-family: 'Source Serif Pro', serif;
      text-align: center;
      color: $headercolor;
      border: 15px solid $headercolor;
      border-radius: 60%;
      padding: 20px 35px 5px 35px;
   }
}
.nav{
   &__body{
      background-color: $mainColor;
      font-size: 38px;
      font-family: 'Dancing Script', cursive;
      color: $headercolor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 25px 45px 25px 45px;
   }
   &__item{
      margin: 0 25px 0 25px;
      cursor: pointer;
   }
   &__items{
      display: flex;
   }
   &__logo{
      font-size: 45px;
   }
}
.content{
   flex: 1 0 auto;
   color: $fn-color;
   text-shadow: 0 1px $mainColor;
   &__body{
      line-height: 50px;
   }
}
.about-me{
   &__body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px;
   }
   &__tittle{
      font-size: 48px;
      margin: 50px 0 50px;
   }
   &__text{
      margin-bottom: 50px;
      width: 30%;
      text-align: justify;
   }
   &__link{
      cursor: pointer;
      margin-bottom: 90px;
   }
}
.suit{
   &__body{
      background: url('../IMG/suit.svg') 0 0/ cover no-repeat;
      background-position: center;
      width: 100%;
      height: 1400px;
      display: flex;
      flex-wrap: wrap;
   }
   &__block{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__bage{
      background-image: linear-gradient(135deg, #79642c 4%, #bb9a3e 26%, #79642c 51%, #bb9a3e 74%, #79642c 100%);
      font-size: 45px;
      cursor: pointer;
      width: 300px;
      padding: 45px;
      color: $headercolor;
      margin-left: 25%;
      text-align: center;
      text-shadow: 1px 0 2px #79642c;
      transition: all 500ms;
      &:hover{
         background-color: $headercolor;
         font-size: 47px;
         width: 320px;
         padding: 48px;
      }
   }
}
.skills-tech{
   &__body{
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 65px solid #3d2c18;
      padding-top: 65px;
   }
}
.box{
   &__body{
      transition: all 700ms;
      line-height: 1px;
   }
   &__cover{
      cursor: pointer;
      position: relative;
      height: 320px;
      width: 500px;
      box-shadow: 0 65px #3d2c18;
      text-shadow: 0 6px 2px #332d26;
      border-radius: 25%;
      background-color: #614525;
      padding: 120px 0 0 0;
      text-align: center;
      color: $headercolor;
      font-weight: 700;
      font-size: $fn-sz-medium;
      z-index: 2;
      transition: all 700ms;
   }
   &__text{
      cursor: pointer;
      position: relative;
      text-align: center;
      z-index: 1;
      color: #bb9a3e;
   }
   &__box{
      position: relative;
      height: 320px;
      width: 500px;
      border-radius: 25%;
      background-color: #614525;
      box-shadow: 0 65px #3d2c18;
      border: 15px solid #3d2c18;
      z-index: 0;
      top: -250px;
      transition: all 700ms;
   }
}
.open-cover{
   transform: translate(0, -25px) rotateX(45deg);
   perspective: 700px;
   line-height: 15px;
   transition: all 700ms;
}
.open-box-text{
   transform: translate(0, -200px);
   line-height: 35px;
   transition: all 700ms;
}


.bage{
   &__body{
      background-color: #444444f1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      min-height: 100%;
      height: 100%;
      width: 100%;
      z-index: 6;
      transition: all 0.3s ease 0s;
      visibility: hidden;
      opacity: 0;
      transition: all 500ms;
   }
   &__bage{
      background-image: linear-gradient(270deg, #79642c 0%, #bb9a3e 22%, #bb9a3e 78%, #79642c 100%);
      padding: 25px 95px;
      line-height: 55px;
      color: $fn-color;
   }
}

.open{
   visibility: visible;
   opacity: 1;
   transition: all 500ms;
}

.footer{
   &__body{
      background-color: #614525;
      height: 120px;
      border-top: 10px solid #3d2c18;
   }
}

@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 640px) {
   .body{
      font-size: $fn-sz-small;
   }
   .header{
      &__cylynder{
         width: 80%;
         height: 400px;
      }
      &__logo{
         font-size: 120px;
         font-weight: 600;
         border: 12px solid $headercolor;
         padding: 15px;
      }
   }
   .nav{
      &__body{
         font-size: 30px;
         padding: 20px 30px 20px 30px;
      }
      &__logo{
         font-size: 40px;
      }
      &__items{
         display: none;
      }
   }
   .content{
      &__body{
         line-height: 40px;
      }
   }
   .about-me{
      &__body{
         padding: 20px;
      }
      &__tittle{
         font-size: 42px;
         margin: 80px 0 50px;
      }
      &__text{
         width: 80%;
      }
   }
   .suit{
      &__body{
         background: url('../IMG/suitPhone.svg') 0 0/ cover no-repeat;
         background-position: center;
         height: 800px;
      }
      &__block{
         width: 50%;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         padding: 0 25px 120px 0;
      }
      &__bage{
         background-image: none;
         background-color: #353535;
         color: #646363;
         font-size: 35px;
         width: 250px;
         padding: 25px;
         &:hover{
            background-color: #353535;
            color: #858484;
            font-size: 40px;
            width: 350px;
            padding: 30px;
         }
      }
   }
   .box{
      &__cover{
         height: 280px;
         width: 400px;
      }
      &__box{
         height: 280px;
         width: 400px;
      }
   }
}

@media screen and (max-width: 500px) {
   .body{
      font-size: $fn-sz-small;
   }
   .header{
      &__cylynder{
         width: 80%;
         height: 300px;
      }
      &__logo{
         font-size: 120px;
         font-weight: 600;
         border: 12px solid $headercolor;
         padding: 15px;
      }
   }
   .nav{
      &__body{
         font-size: 28px;
         padding: 10px 30px 10px 30px;
      }
      &__logo{
         font-size: 35px;
      }
      &__items{
         display: none;
      }
   }
   .content{
      &__body{
         line-height: 37px;
      }
   }
   .about-me{
      &__body{
         padding: 20px;
      }
      &__tittle{
         font-size: 42px;
         margin: 80px 0 50px;
      }
      &__text{
         width: 85%;
      }
   }
   .suit{
      &__body{
         background: url('../IMG/suitPhone.svg') 0 0/ cover no-repeat;
         background-position: center;
         height: 700px;
      }
      &__block{
         width: 50%;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         padding: 0 25px 100px 0;
      }
      &__bage{
         background-image: none;
         background-color: #353535;
         color: #646363;
         font-size: 35px;
         width: 250px;
         padding: 25px;
         &:hover{
            background-color: #353535;
            color: #858484;
            font-size: 40px;
            width: 350px;
            padding: 30px;
         }
      }
   }
   .bage{
      &__body{
         padding: 30px;
      }
      &__bage{
         background-image: linear-gradient(270deg, #79642c 0%, #bb9a3e 22%, #bb9a3e 78%, #79642c 100%);
         padding: 25px 55px;
         line-height: 35px;
         color: $fn-color;
      }
   }
   .box{
      &__cover{
         height: 250px;
         width: 300px;
      }
      &__box{
         height: 250px;
         width: 300px;
         top: -220px;
      }
   }
}