/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
//font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//font-family: 'Source Serif Pro', serif;
/*Null style*/
@import "nullstyle";
/*Styles*/
//___________Variables___________
$fn-sz: 30px;
$fn-sz-medium: 25px;
$fn-sz-small: 20px;
$fn-color: #79642c;
$mainColor: #252525;
$secondColor: #fff;
$bgColor: #e5d7c2;
$headercolor: #bb9a3e;
//___________Classes___________
.body{
   font-size: $fn-sz-small;
   font-family: 'Source Serif Pro', serif;
   background-color: $bgColor;
}
.wrapper{
   display: flex;
   flex-direction: column;
   height: 100%;
}

.text-link:hover{
   text-decoration: underline;
}
.header{
   &__cylynder-body{
      padding: 0 6px;
   }
   &__cylynder{
      background-color: $mainColor;
      width: 85%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      box-shadow: inset 65px 0 25px -25px rgb(116, 116, 116) , inset -65px 0 25px -25px rgb(116, 116, 116);
   }
   &__logo{
      margin: 0 auto;
      font-size: 100px;
      font-weight: 700;
      font-family: 'Source Serif Pro', serif;
      text-align: center;
      color: $headercolor;
      border: 12px solid $headercolor;
      border-radius: 60%;
      padding: 12px 22px 5px 22px;
   }
}
.nav{
   &__body{
      background-color: $mainColor;
      font-size: $fn-sz;
      font-family: 'Dancing Script', cursive;
      color: $headercolor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 18px 15px 18px 15px;
   }
   &__item{
      display: none;
      margin: 0 10px 0 10px;
      cursor: pointer;
   }
   &__items{
      display: flex;
   }
   &__logo{
      font-size: 40px;
   }
}
.content{
   flex: 1 0 auto;
   color: $fn-color;
   text-shadow: 0 1px $mainColor;
   &__body{
      line-height: 35px;
   }
}
.about-me{
   &__body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
   }
   &__tittle{
      font-size: 48px;
      margin: 50px 0 50px;
   }
   &__text{
      margin-bottom: 50px;
      width: 70%;
      text-align: justify;
   }
   &__link{
      cursor: pointer;
      margin-bottom: 90px;
   }
}
.suit{
   &__body{
      background: url('../IMG/suitPhone.svg') 0 0/ cover no-repeat;
      background-position: center;
      width: 100%;
      height: 533px;
      display: flex;
   }
   &__block{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 105px;
   }
   &__bage{
      //background-image: linear-gradient(135deg, #79642c 4%, #bb9a3e 26%, #79642c 51%, #bb9a3e 74%, #79642c 100%);
      background-color: #424242;
      font-size: 30px;
      cursor: pointer;
      width: 200px;
      padding: 15px;
      color: $mainColor;
      margin-left: 25%;
      text-align: center;
      transition: all 500ms;
      &:hover{
         color: $secondColor;
         font-size: 35px;
         width: 230px;
         padding: 20px;
      }
   }
}
.box{
   &__backgr{
      width: 100%;
      height: 500px;
      padding: 10%;
   }
   &__body{
      line-height: 1px;
      transition: all 500ms;
   }
   &__cover{
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      height: 200px;
      box-shadow: 0 65px #3d2c18;
      text-shadow: 0 6px 2px #332d26;
      border-radius: 25%;
      background-color: #614525;
      text-align: center;
      color: $headercolor;
      font-weight: 700;
      font-size: $fn-sz-medium;
      padding-top: 100px;
      z-index: 2;
      transition: all 700ms;
   }
   &__text{
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      text-align: center;
      z-index: 1;
      color: #bb9a3e;
   }
   &__box{
      position: relative;
      margin: 0 auto;
      height: 200px;
      border-radius: 25%;
      background-color: #614525;
      box-shadow: 0 65px #3d2c18;
      border: 15px solid #3d2c18;
      z-index: 0;
      transform: translate( 0, -160px);
      transition: all 700ms;
   }
}
.open-cover{
   transform: translate(0, -25px) rotateX(45deg);
   perspective: 700px;
   line-height: 15px;
   transition: all 700ms;
}
.open-box-text{
   transform: translate(0, -200px);
   line-height: 35px;
   transition: all 700ms;
}


.bage{
   &__body{
      background-color: #444444f1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      min-height: 100%;
      height: 100%;
      width: 100%;
      z-index: 6;
      transition: all 0.3s ease 0s;
      visibility: hidden;
      opacity: 0;
      transition: all 500ms;
   }
   &__bage{
      background-image: linear-gradient(135deg, #79642c 4%, #bb9a3e 26%, #79642c 51%, #bb9a3e 74%, #79642c 100%);
      padding: 15px 15px;
      line-height: 35px;
      color: #7e5c01;
   }
}

.open{
   visibility: visible;
   opacity: 1;
   transition: all 500ms;
}

.footer{
   &__body{
      background-color: #614525;
      height: 120px;
      border-top: 10px solid #3d2c18;
   }
}
@media (min-width: 599px) { 
   .nav{
      &__item{
         display: block;
      }
   }
   .suit{
      &__body{
         background: url('../IMG/suitPhone.svg') 0 0/ cover no-repeat;
         background-position: center;
         width: 100%;
         height: 700px;
         padding-right: 15px;
         display: flex;
      }
      &__bage{
         padding: 25px;
         font-size: 35px;
         &:hover{
            padding: 30px;
            font-size: 40px;
         }
      }
   }
   .bage{
      &__bage{
         padding: 25px 65px;
         line-height: 45px;
         font-size: 25px;
      }
   }
   .box{
      &__cover{
         height: 250px;
      }
      &__box{
         height: 250px;
         transform: translate( 0, -180px);
      }
   }
}
@media (min-width: 767px){
   .header{
      &__cylynder{
         height: 500px;
      }
      &__logo{
         font-size: 130px;
         border: 15px solid $headercolor;
      }
   }
   .about-me{
      &__text{
         width: 60%;
      }
   }
   .suit{
      &__body{
         height: 900px;
         padding: 0 30px 50px 0;
      }
      &__bage{
         font-size: 45px;
         padding: 35px 25px;
         width: 260px;
         &:hover{
            font-size: 45px;
         padding: 40px 25px;
         width: 280px;
         }
      }
   }
   .box{
      &__backgr{
         padding: 3% 20%;
      }
      &__cover{
         height: 280px;
      }
      &__text{
         font-size: $fn-sz;
      }
      &__box{
         height: 280px;
         transform: translate( 0, -220px);
      }
   }
   .open-box-text{
      transform: translate(0, -300px);
   }
}

